@model IEnumerable<Category>

@{
    ViewData["Title"] = "Shop our Cheeses";
}

<h1>First choose your style...</h1>

<ul>
    @foreach (var c in Model)
    {
        <li>
            <a asp-action="ByCategory" asp-route-id="@c.CategoryId">
                @c.Name
            </a>       
        </li>
    }
</ul>