/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

table.sortable th:hover {
    cursor: pointer;
}

.navbar-light {
    background-color: #FBC02D;
}

a {
    color: #757575;
}

    a:hover {
        color: #FBC02D;
    }

.btn-primary {
    background-color: #FFEB3B;
    color: #212121;
}

    .btn-primary:hover {
        background-color: #FFF9C4;
        color: #212121;
    }

    li {
       list-style-type: none;
    }

    .card {
        height: 100px;
        text-align: center;
    }
    

    .thumb {
        width: 85px;
    }

    .inputSmall {
        width: 90px;
    }

    .badge-secondary {
        background-color: dimgray;
    }