@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cheese and Thank You</h1>
    <p>The finest cheeses you can find anywhere.</p>
    <p>Royalty-Free images from <a href="https://pixabay.com" target="_blank">Pixabay</a>.</p>
</div>
